<nav class="navbar">
    <div class="logo">
        <a href="#">MySite</a>
    </div>
    <ul class="nav-links">
        <li><a href=" {% url 'addResumePage' %} ">Add Resume</a></li>
        <li><a href=" {% url 'resumeList' %} ">Resume List</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href=" {% url 'logoutPage' %} ">Logout</a></li>
    </ul>
    <div class="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>